<section id="home">
  <!-- Header -->
  <div
    class="event-header img"
    style="margin-bottom: 4rem; background:url('/img/{{ page.img }}' ) no-repeat center center; background-size: cover;"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="intro-callout">
            <p>{{ page.latest-update }}</p>
          </div>
        </div>
        <div class="col-md-12 z-section-title">
          <div class="intro-message"></div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.intro-header -->
</section>
